.inputs{
    padding: 50px;
    font-size: large;
    color: black;
    text-align: center;
}
.full{
    background-color: #EEE5DB;

}
#login{
    background-color: #DDCBB9;
    color: black;
}
.spinner-border{
    margin-top: 15px;
    
}
