.inputs{
    padding: 50px;
    font-size: large;
    color: black;
    text-align: center;
}
.full{
    background-color: #EEE5DB;
    height: 450px;
}
#login{
    background-color: #DDCBB9;
    color: black;
}
.spinner-border{
    margin-top: 15px;
}
#register{
    background-color: #DDCBB9;
    color: black;
    margin-top: 10px;
}
