 #btns{
    background-color: #DDCBB9;
    margin-bottom: 5px;
    margin-top: 5px;
} 
#nbtn{
    margin-right: 100px;
    background-color: #DDCBB9;
    margin-bottom: 5px;
    margin-top: 5px;
}
.register{
    float: right;
}

#table{
    padding-left: 100px;
    margin-right: 50px;
    margin-top: 15px;
    background-color: #EEE5DB;
}
#tr{
    text-align: center;
    margin-bottom: 15px;
}
#th{
    border-spacing: 100px 100px;
}
#button{
    background-color: #DDCBB9;
    color: black;
}
